body{padding : 0; margin : 0; overflow:hidden;}

#play_button{
	position: absolute;
	left: 47%;
	bottom: 45%;
	width: 6%;
	display: none;
	filter: brightness(0.4);
}

#play_button:hover{
	filter: brightness(0.6);
}

#settings_button{
	position: absolute;
	left: 60%;
	bottom: 45%;
	width: 7%;
	display: none;
	filter: brightness(0.4);
}

#settings_button:hover{
	filter: brightness(0.6);
}


#home_button:hover{
	filter: brightness(0.6);
}

#home_button{
	position: absolute;
	left: 32%;
	bottom: 45%;
	width: 6%;
	display: none;
	filter: brightness(0.4);
}


#frame{
	position: absolute;
	left: 0;
	top: 0;
	filter:	none;
	transition: filter 0.2s;
}

#shape_selector{
	position: absolute;
	display: grid;
	right:-100px;
	top:20%;
	height:20%;
	width:100px;
	border-radius:10px;
	background-image: url(sprites/shapeButton1.png); 
	background-size: cover;
	border-right: 1px solid black;
	transition: right 1s
}

.shape{
	position: relative;
	top: 5%;
	height: 85%;
	width: 90%;
	left: 4%;
	border-radius: 10px;
}

#bottom_trigger{
	position: absolute;
	left: 10%;
	top: 70%;
	width: 80%;
	height: 30%;
	background-color: none;
	z-index:1;
}

#bottom_list{
	position: absolute;
	display: grid;
	grid-template-rows: 1fr 1fr;
	left: 10%;
	top: 100%;
	width: 80%;
	height: 30%;
	background-color: rgb(107, 107, 107);
	border-radius:10px;
	border:4px solid rgb(46, 46, 46);
	border-right: 6px solid rgb(46, 46, 46);
	transition: top 1s;
	z-index: 2;
}

#mini_plot{
	z-index: 3;
}

#function_list{
	position: relative;
	pointer-events: all;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 100%;
	background-color: rgb(107, 107, 107); 
	z-index: 3;
}

.function{
	position: relative;
	border-radius: 6px;
	top:-8%;
	height:	94%;
	border: 2px solid rgb(107, 107, 107);
	background-color: rgb(210, 210, 210);
}

.function:hover{
	background-color: rgb(107, 107, 107);
}

.temp{
	position: relative;
	top:7%;
	left:7%;
	width:80%;
	height:80%;
	border-radius: 8px;
}

#add_interval{
	position: relative;
	border-radius: 50%;
	top: 20%;
	width: 4%;
	padding-top: 4%;
	background-color: green;
	z-index:0;
}

#add_interval_trigger
{
	position: absolute;
	width:100%;
	left:10%;
	height: 14%;
	bottom: -15%;
	transition: left 1s, bottom 1s;
	z-index:1;
}

.p5Canvas{
	position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    filter: none;
}
